.hero {
    display: flex; /* Align items and justify content in the center */
    flex-direction: column; /* Arrange child elements in a vertical column */
    align-items: center; /* Horizontally center content */
    justify-content: center; /* Vertically center content */
    text-align: center; /* Center text */
    color: white; /* Set text color to white */
    background: url('images/background.png') no-repeat center center; /* Set background image, centered */
    background-size: cover; /* Ensure the background image covers the full section */
    height: 100vh; /* Set section height to 100% of the viewport height */
}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.glass-card {
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    border-radius: 15px; /* Rounded corners */
    padding: 40px; /* Padding around the content */
    max-width: 1000px; /* Maximum width of the card */
    text-align: center; /* Center the text */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    backdrop-filter: blur(10px); /* Apply blur to the background behind the card */
    -webkit-backdrop-filter: blur(10px); /* Safari support for backdrop filter */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Light border with some transparency */
    opacity: 1; /* Ensure full opacity for visibility */
    transition: opacity 0.5s ease; /* Smooth transition for opacity changes */
}

/* Optional: Add hover effect for the glass card */
.glass-card:hover {
    opacity: 0.9; /* Slightly decrease opacity on hover */
}

/* Custom button style */
.btn-custom {
    transition: all 0.3s ease-in-out;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    background-image: linear-gradient(to right, #B2FF9E, #C5D86D);
    color: #fff;
    border: 2px solid transparent;
    text-decoration:none
}

/* Hover effect */
.btn-custom:hover {
    background-image: linear-gradient(to right, #73ec55, #bfdd37);
    color: hsl(0, 0%, 100%);
    transform: scale(1.1); /* Slight scaling */
    border-color: #FFFBFF; /* Add a border color */
}
/* Card - Aggiunge spazio tra le card su mobile */
.card {
    text-align: center;
    border-radius: 15px;
    border: none;
}

.question {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.question:last-child {
    border-bottom: none;
}

.form-check {
    margin: 10px 0;
}

.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.card {
    border-radius: 15px;
    border: none;
}

.question {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.form-check {
    margin: 10px 0;
}

.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover {
    background-color: #218838;
    border-color: #1e7e34;
}